<% if last_move_results.nil? == false%>

<%=last_move_results%>

<% end %>

<%=desc%><br><br>
<%=inv%><br><br>
<%=message%>

<form action="/play" method="GET">
	<input type='text' name='command'>
</form>

<% if params[:command] != nil %>

<%=message2%>
<%command = params[:command]%>

<form action="/play" method="GET">
	<input type="hidden" name="command" value="<%=command%>">
	<input type='text' name='command2'>
</form>

<%end%>


